@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Lato:wght@300;400;700&display=swap');

/* for a border #d1bdaa */
/* Base */
*, html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f5f0ec;
    color: #1e2e3e;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Crete Round', serif;
    font-weight: normal;
    color: #2c2d48;
}

a {
    color: #3f6183;
}

/* Nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2d48;
    padding: 0 2rem;
}

.logo-title {
    font-size: 2.4rem;
    margin: 0;
    padding: 1rem .8rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar-item {
    display: inline-block;
    padding: .8rem;
}

/* Forms */
input, button {
    border-width: 1px;
    border-radius: .2rem;
    padding: .5rem .8rem;
    background-color: #fffcfa; 
}

.center-form {
    max-width: 400px;
    margin: 0 auto
}

.center-form label {
    width: 20%;
}

.center-form input {
    width: 80%;
}

.center-form input[type="submit"] {
    width: 100%;
    border-color: #3f6183;
    background-color: #3f6183;
    color: #fff;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
}


/* Grid */
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

/* Assessment list */
.assmt {
    border-bottom: 1px solid #d1bdaa;
    padding: 1rem;
}

.assmt-form {

}

/* Assessment list  -- desktop & above */
@media (min-width: 767px){
    .assmt-row {
        display: flex;
        flex-wrap: wrap;
    }

    .assmt {
        width: 24%;
        margin: .5%;
        border: 1px solid #d1bdaa;
        padding: 2rem;
        border-radius: .4rem;
    }
}


/* utils */
.green {
    background-color: rgb(147, 199, 147);
}

.orange {
    background-color: rgb(208, 148, 116);
}

.yellow {
    background-color: rgb(223, 217, 150);
}



